node_modules/
frontend/node_modules/
backend/node_modules/
frontend/dist/
backend/.env
backend/*.log
smoke_log.txt
backend/smoke_log.txt
backend/smoke_verify_log.txt
*.log
.DS_Store
.vscode/
coverage/

# Large media assets
frontend\public\181536-866999858_medium.mp4
frontend\public\12629244_1080_1920_30fps.mp4
frontend\public\6266292-uhd_3840_2160_25fps.mp4
frontend\public\12062275_1080_1920_60fps.mp4